# Base de données
MONGODB_URI=mongodb+srv://randriantsoa54_db_user:E94vuAKxp5rr6qyN@moozik.3gglcij.mongodb.net/moozik_db?retryWrites=true&w=majority

# Cloudinary
CLOUDINARY_CLOUD_NAME=di6euh2z5
CLOUDINARY_API_KEY=117676625117614
CLOUDINARY_API_SECRET=eWOr6fqs6QMuE1pYQiBrTdtx_aA

# Auth (Phase 2)
NEXTAUTH_SECRET=01d8e867119623eb9600ac45657dec45d7515a3570365573421bdcc98ccaa89a
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=713014071124-c4l9ohq92q84idjl6v1t1o0arnba8d98.apps.googleusercontent.com 
GOOGLE_CLIENT_SECRET=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

# Email (récupération de mot de passe — Phase 2)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=nandrian.nd.54@gmail.com
SMTP_PASS=whauiolqgjtkeose

# Paiements (Phase 6)
STRIPE_SECRET_KEY=sk_test_51RHL00Bt5s12MkNCt5nBBXqbZUsN4Zeq5KGkCPdTvzSEUbShxlWFDJzM8zMQDdTB1jthrvYBuxQ8BdHiktE1vKCf00UtWvxdWq
STRIPE_WEBHOOK_SECRET=whsec_umwaPihvtjH0fIxW0fn3SbAMrzR4zmVQ
MVOLA_CONSUMER_KEY=
MVOLA_CONSUMER_SECRET=
MVOLA_MERCHANT_MSISDN=
MVOLA_ENV=sandbox

# Upload audio côté client (Phase 5)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=di6euh2z5
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=

# Cron de publication planifiée (Phase 5)
CRON_SECRET=
